<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Trivium</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <nav class="nav-horizontal" role="navigation">
          <%= if Pow.Plug.current_user(@conn) do %>
            <ul><li><%= link "Dashboard", to: Routes.dashboard_path(@conn, :index) %></li></ul>
            <ul><li><%= link "Sign out", to: Routes.logout_path(@conn, :delete), method: :delete %></li></ul>
          <% else %>
            <ul><li><%= link "Register", to: Routes.signup_path(@conn, :new) %></li></ul>
            <ul><li><%= link "Sign in", to: Routes.login_path(@conn, :new) %></li></ul>
          <% end %>
        </nav>
        <a href="/" class="the-logo">
          <img src="<%= Routes.static_path(@conn, "/images/default-monochrome.svg") %>" alt="Trivium"/>
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
