<h1>Listing Tokens</h1>

<table>
  <thead>
    <tr>
      <th>Token</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for tokens <- @tokens do %>
    <tr>
      <td><%= tokens.token %></td>

      <td>
        <span><%= link "Delete", to: Routes.tokens_path(@conn, :delete, tokens), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Token", to: Routes.tokens_path(@conn, :create), method: :create %></span>
